# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/ForTheSweet/x64
/ForTheSweet/.vs
/x64
*.idb
*.pdb
*.vs
ForTheSweet/.vs/ForTheSweet/v15/Browse.VC.db
ForTheSweet/.vs/ForTheSweet/v15/ipch/5b62625708f08e95.ipch
ForTheSweet/Debug/ForTheSweet.ilk
ForTheSweet/ForTheSweet/Debug/ForTheSweet.log
ForTheSweet/ForTheSweet/Debug/ForTheSweet.res
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/CL.command.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/CL.read.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/CL.write.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/ForTheSweet.lastbuildstate
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/link.command.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/link.read.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/link.write.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/rc.command.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/rc.read.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/rc.write.1.tlog
ForTheSweet/ForTheSweet/Debug/ForTheSweet.tlog/unsuccessfulbuild
ForTheSweet/x64/Debug/ForTheSweet.ilk
ForTheSweet/.vs/ForTheSweet/v15/Browse.VC.db
ForTheSweet/ForTheSweet/x64/Debug/vc141.pdb
ForTheSweet/ForTheSweet/x64/Debug/vc141.idb
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/unsuccessfulbuild
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.write.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.read.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.command.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.16228.write.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.16228.read.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.16228-rc.write.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.16228-rc.read.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.16228-cvtres.write.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link.16228-cvtres.read.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link-rc.write.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link-rc.read.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link-cvtres.write.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/link-cvtres.read.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/CL.write.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/CL.read.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.tlog/CL.command.1.tlog
ForTheSweet/ForTheSweet/x64/Debug/ForTheSweet.log
