# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
/ForTheSweet/x64
/ForTheSweet/.vs
/ForTheSweet_Server/x64
/ForTheSweet_Server/.vs
/x64
*.idb
*.pdb
*.vs
