# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app

/ForTheSweet/.vs

/ForTheSweet_Server/.vs
/x64
*.idb
*.pdb
*.vs
*.log
*.tlog
*.iobj
*.ipdb
*.tlog
*.tlog
*.lastbuildstate
*.tlog
*.tlog
*.tlog
*.log
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.tlog
*.iobj
ForTheSweet/ForTheSweet/Release/ForTheSweet.log
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/CL.command.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/CL.read.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/rc.write.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/rc.read.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/rc.command.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/link.write.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/link.read.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/link.command.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/ForTheSweet.write.1u.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/ForTheSweet.lastbuildstate
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/CL.write.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/CL.command.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.tlog/CL.read.1.tlog
ForTheSweet/ForTheSweet/Release/ForTheSweet.log
ForTheSweet/Release/ForTheSweet.iobj
ForTheSweet/Release/ForTheSweet.ipdb
